{#{% include 'base.html.twig' %}#}
{% include 'admin/menu.html.twig' %}
{#{%  include 'back_button.html.twig' %}#}
{% block body %}
    <h3>CHOSE YOUR BARBER and RESERVE YOUR APPOINTMENT</h3>
{% endblock %}

