{#{% include 'base.html.twig' %}#}
{% include 'admin/menu.html.twig' %}
{#{%  include 'back_button.html.twig' %}#}
{% block body %}
    <h3>MANAGE APPOINTMENT</h3>

    {% if user.userIsSuperAdmin %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}

{#    {% include 'admin/view_all_procedures.html.twig' %}#}

{% endblock %}
