{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ 'procedures_forms.title' | trans }}</h3>
    {% if app.user and app.user.isUserIsSuperAdmin %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
